body {
  background: url("../img/interior2sm.jpg") no-repeat fixed;
  background-size: cover;
  font-family: 'Enriqueta', serif;
  @media only screen and (min-width: 768px) {
    background: url("../img/interior2small.jpeg") no-repeat fixed;
    background-size: cover;
  }
}

h1 {
  text-decoration: underline;
  font: {
    weight: bolder;
    style: italic;
  }
}

h5 {
  font-weight: bold;
}

.navbar-nav {
  background-color: rgba(232,233,233, 0.5);
}

.navbar-brand {
  font: {
    size: 2em;
    style: italic;
    weight: bold;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.jumbotron-parargraph {
  background-color: rgba(232,233,233, 0.3);
}

.card {
  background-color: rgba(91,91,54, 0.4);
  color: white;
  border-width: 2px;
  .card-header {
    background-color: rgba(81,81,48, 0.4);
    font: {
      weight: bold;
      style: italic;
    }
  }
}

@media only screen and (min-width: 500px) {
  .jumbotron {
    border: 3px solid black;
  }
}

.list-group-item {
  background-color: rgba(232,233,233, 0.7);
}

.top-line {
  border-bottom: 1px solid #6C6C6C;
}

.page-item {
  .page-link {
    color: black;
  }
}
.page-item.active .page-link {
  background-color: gray;
}

img {
  border: 2px solid black;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
 iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.contact-form {
  background-color: rgba(232,233,233, 0.3);
  border-radius: 3%;
}
